{% extends 'rentalapp/base.html' %}
{% load static %}

{% block title %}Przydziel role{% endblock title %}

{% block content %}
<div class="card mx-auto" style="max-width: 500px;">
    <div class="card-header">
        <h5>Przydziel role użytkownikom</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Przydziel rolę</button>
        </form>
    </div>
</div>
{% endblock content %}
